---
import { getComponentBody, getComponentList } from "../../lib";

export async function getStaticPaths() {
  return getComponentList().map((name) => ({
    params: { name },
    props: { body: getComponentBody(name) },
  }));
}

const { name } = Astro.params;
const { body } = Astro.props;
---

<html>
  <head>
    <script is:inline src={`/web-components/dist/browser/${name}/index.js`}
    ></script>
  </head>

  <body>
    <h1>{name}</h1>
    <Fragment set:html={body} />
  </body>
</html>
