:host {
  position: relative;
  height: var(--height, auto);
  min-height: var(--min-height, 300px);
  display: grid;
  grid-template-columns: minmax(auto, var(--title-max-width, auto)) auto;
  align-content: center;
  align-items: center;
  justify-items: center;
  justify-content: center;
  column-gap: 48px;
  padding: 16px;
  background-color: var(--background-color, transparent);
}

::slotted(*) {
  display: none;
}

.titles {
  display: grid;
  grid-auto-flow: row;
}

.title {
  text-align: left;
  cursor: pointer;
  border: none;
  background-color: transparent;
  white-space: nowrap;
  padding: 0;

  &:hover {
    text-decoration: underline dashed;
  }

  &.active {
    text-decoration: underline solid;
  }
}

.contents {
  max-width: var(--content-max-width, 600px);
  overflow-y: auto;
  height: 100%;
}

.content[hidden] {
  display: none;
}
