<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset='utf-8'>
  <meta name='viewport' content='width=device-width,initial-scale=1'>
  <title>Accordion | Code Cabana Web Components</title>
  <link rel='icon' type='image/png' href='/favicon.png'>
  <script src='/dist/umd/accordion.min.js'></script>
  <!-- <script defer src='/dist/iife/accordion.min.js'></script> -->
  <!-- <script type="module" src='/dist/es/accordion.min.js'></script> -->
</head>

<body>
  <p>Some stuff before the accordion</p>
  <hr />
  <div>
    <div>
      <div>
        <codecabana-accordion icon="https://img.icons8.com/ios-glyphs/452/chevron-right.png"
          expandedicon="https://img.icons8.com/ios-glyphs/452/chevron-down.png">
        </codecabana-accordion>
      </div>
    </div>
  </div>

  <h1>What is your name?</h1>

  <p>My name is Sir Lancelot of Camelot</p>

  <h1>What is your quest?</h1>

  <p>To seek the holy grail</p>

  <h1>What is your favorite color?</h1>

  <p>Blue</p>

  <h1>What is the capital of Assyria?</h1>

  <p>I don't know that!</p>

  <h1>What is the airspeed velocity of an unladen swallow?</h1>

  <p>What do you mean? An African or a European swallow?</p>
  <p>Huh? I don't know that</p>

  <div>
    <codecabana-accordion></codecabana-accordion>
  </div>

  <hr />
  <p>Some stuff after the accordion</p>
</body>

</html>