<html>

<head>
  <script src="/@codecabana/web-components/dist/browser/{{ component }}/index.js"></script>
</head>

<body>
  <h1>{{ component }}</h1>
  <codecabana-{{ component }}></codecabana-{{ component }}>
</body>

</html>