<html>

<head>
  <script src="/@codecabana/web-components/dist/browser/{{ component.name }}/index.js"></script>
</head>

<body>
  <h1>{{ component.name }}</h1>
  {{ component.snippet }}
</body>

</html>