<html>

<body>
  <h1>Static</h1>
  <ul>{% for componentName in componentNames %}
    <li><a href="/components/{{ componentName }}.html">{{ componentName }}</a></li>{% endfor %}
  </ul>
</body>

</html>