$position: var(--position, 0px);

.viewport {
  position: relative;
  width: var(--width, 100%);
  height: var(--height, 100%);
  overflow: hidden;

  // Debugging
  // border: 10px solid red;
  // margin: auto;
}

.track {
  display: inline-grid;
  grid-auto-flow: column;
  transform: translateX($position);
  transition: transform 0.3s ease-out;
}

.track *[slot="slide"],
::slotted(*),
.item {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: var(--itemWidth);
  height: var(--height);
  object-fit: cover;
  border: 1px solid black;
}

slot {
  display: none;
}
