$position: var(--position, 0px);

.viewport {
  position: relative;
  width: var(--width, 100%);
  height: var(--height, 100%);
  border: 10px solid red;
  margin: auto; //TODO delete me
  overflow: hidden;
}

.track {
  display: inline-grid;
  grid-auto-flow: column;
  transform: translateX($position);
  transition: transform 0.3s ease-out;
}

.item {
  position: relative;
  box-sizing: border-box;
  width: var(--itemWidth);
  height: var(--height);
  border: 1px solid black;
}
